<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Emerald Heart Lighthouse Collection - About Us</title>

    <!--Included Third Party Library and Javascript and CSS-->
    <!--<script type="text/javascript" src="js/angular.min.js"></script>-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css">

    <!-- Included Application specific CSS and Javascript -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">

</head>

<body>

    <header>

        <h1><a href="../index.html"><img src="../css/images/contentimages/logo.png" alt=""></a></h1>
        <form>

            <ul>
                <li><a href="email_signup_page.html">Email Sign-up</a></li>
                <li> <a href="contact.html">Customer Care</a></li>
            </ul>
        </form>

        <!-- MAIN NAVIGATION START -->
        <nav>
            <ul>

                <li class='active'><a href='whats_new.php'><span>What's New</span></a></li>
                <li class='active has-sub'><a href='current_products.php'><span>Current Products</span></a>
                    <ul>
                        <li><a href='current_products.php'><span>Home Decor</span></a></li>
                        <li class='last'><a href='current_products.php'><span>Books</span></a></li>
                    </ul>
                </li>

                <li class='active'><a href='about_us.html'><span>About Us</span></a></li>
                <li class="active"><a href="contact.html"><span>Contact Information</span></a> </li>
                <li class='active last'><a href='customer_feedback.php'><span>Customer Feedback</span></a></li>

            </ul>
        </nav>
        <!-- MAIN NAVIGATION END -->


    </header>

    <section id="about_us_content">

        <p class="image"><img src="../css/images/contentimages/about.png" alt=""> </p>

            <h1>About Us</h1>
            <p>Emerald Heart Light House Collection is dedicated to help both men and
                women find that unique gift for that someone special, whether they are a
                family member, a friend or just want to buy something for someone that they
                are thinking about that will be cherished for a lifetime.</p>

            <p> With the limitless array of unique one of a kind gifts, we are sure to help you
                spark that inner imagination of the soul and touch the depths of not only your
                heart but that of others as well.</p>

            <p> The single purpose of the Emerald Heart Lighthouse Collection’s brand,
                craftsmanship and unique services or specialties is to showcase the homemade
                gifts that are unique with no repeats of any kind while providing you that one
                of a kind item that is not purchasable anywhere else.</p>

            <p> All of the items within the Emerald Heart Lighthouse Collection website are
                handmade with no two items ever being the same and therefore providing you
                that unique quality stature.  As a purchaser you will walk away knowing that
                you are receiving an item that is uniquely your own.</p>

            <p> We hope that you find shopping on our site to be calming, relaxed and user
                friendly.</p>

            <p> If you wish to provide us feedback please fill out the customer feedback form,
                send us an email or give us a call us at 1-800-XXX-XXXX, we would love to hear
                from you. </p>

    </section>

    <section id="bottom_nav">
        <div id="subfooter">
            <ul>
                <li><a href="../views/whats_new.php">What's New</a> </li>
                <li><a href="../views/customer_feedback.php">Customer Feedback</a> </li>
                <li><a href="../views/about_us.html">About Us</a> </li>
                <li>Customer Service: 1-800-123-4567 </li>
                <li>Orders: 1-800-456-7890</li>
                <li>Email:<a href="mailto:emeraldheartlc@gmail.com"> EmeraldHeartLC@gmail.com</a> </li>
            </ul>
        </div>
    </section>

    <footer>
        <p>All Rights</p>
        <p>&copy; April 2014</p>
        <p>Website Maintained by <a href="mailto:whymsicaldesigns@gmail.com">Whymsical Designs</a></p>
    </footer>

</body>
</html>