<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Emerald Heart Lighthouse Collection - About Us</title>

    <!--Included Third Party Library and Javascript and CSS-->
    <!--<script type="text/javascript" src="js/angular.min.js"></script>-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css">

    <!-- Included Application specific CSS and Javascript -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">

</head>

<body>

<header>

    <h1><a href="../index.html"><img src="../css/images/contentimages/logo.png"></a></h1>
    <form>

        <ul>
            <li><a href="email_signup_page.html">Email Sign-up</a></li>
            <li> <a href="contact.html">Customer Care</a></li>
        </ul>
        <label for="search"><input id="search" type="text" class="input">Search</label>

    </form>

    <!-- ------------------------------------ MAIN NAVIGATION START ---------------------------------------------->
    <nav id='nav'>
        <ul>

            <li class='active'><a href='whats_new.html'><span>What's New</span></a></li>
            <li class='active has-sub'><a href='current_products.html'><span>Current Products</span></a>
                <ul>
                    <li><a href='#'><span>Home Decor</span></a></li>
                    <li class='last'><a href='#'><span>Books</span></a></li>
                </ul>
            </li>

            <li class='active'><a href='about_us.html'><span>About Us</span></a></li>
            <li class="active"><a href="contact.html"><span>Contact Information</span></a> </li>
            <li class='active last'><a href='customer_feedback.html'><span>Customer Feedback</span></a></li>

        </ul>
    </nav>
    <!-- ------------------------------------ MAIN NAVIGATION END ------------------------------------------------>
    <br>
    <!-- WELCOME MESSAGE AND SHOPPING CART INFORMATION ----------------->
    <!--<p>Welcome!-->
        <!--<a href="account_email_information.html"> Sign In</a> or <a href="account_email_information.html"> Create a Account</a> -->
    <!--</p>-->

</header>

<section>

    <p class="image"><img src="../css/images/contentimages/contact_us.png"> </p>

    <div id="contact">
        <h1>We would love to hear from you!</h1>

        <p>If you have a question regarding any of our products please do not hesitate to send us a note.
        We will be glad to answer any questions that you might have regarding any one of our products.  We
        can be reached via E-mail, Phone, or Address.</p>
        <p>Live Chat with a representative is coming soon!</p>



        <form>

            <ul>
                <li>E-mail: <a href="mailto:emeraldheartlc@gmail.com"> E-mail Us</a></li>
                <li>Phone:<p>1-800-XXX-XXXX</p></li>
                <li>Address:
                    <p>Emerald Heart Lighthouse Collect</p>
                    <p>c/o Customer Service</p>
                    <p>PO Box 12358</p>
                    <p>Arkport, N.Y 14807</p>
            </ul>

        </form>


    </div>

    </section>

    <section id="bottom_nav">
        <div id="subfooter">
            <ul>
                <li><a href="../views/whats_new.html">What's New</a> </li>
                <li><a href="../views/customer_feedback.html">Customer Feedback</a> </li>
                <li><a href="../views/about_us.html">About Us</a> </li>
                <li>Customer Service: 1-800-123-4567 </li>
                <li>Orders: 1-800-456-7890</li>
                <li>Email:<a href="mailto:emeraldheartlc@gmail.com"> EmeraldHeartLC@gmail.com</a> </li>
            </ul>
        </div>
    </section>

    <footer>
        <p>All Rights</p>
        <p>&copy; April 2014</p>
        <p>Website Maintained by <a href="mailto:whymsicaldesigns@gmail.com">Whymsical Designs</a></p>
    </footer>

</body>
</html>