

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Emerald Heart Lighthouse Collection</title>

    <!--Included Third Party Library and Javascript and CSS-->
    <!--<script type="text/javascript" src="js/angular.min.js"></script>-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css">

    <!-- Included Application specific CSS and Javascript -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../javascripts/validate.js"></script>

</head>

<body>
    <header>

        <h1><a href="../index.html"><img src="../css/images/contentimages/logo.png"></a></h1>
        <form>

            <ul>
                <li><a href="email_signup_page.html">Email Sign-up</a></li>
                <li> <a href="contact.html">Customer Care</a></li>
            </ul>
        </form>

        <!-- ------------------------------------ MAIN NAVIGATION START ---------------------------------------------->
        <nav id='nav'>
            <ul>

                <li class='active'><a href='whats_new.php'><span>What's New</span></a></li>
                <li class='active has-sub'><a href='current_products.php'><span>Current Products</span></a>
                    <ul>
                        <li><a href='current_products.php'><span>Home Decor</span></a></li>
                        <li class='last'><a href='current_products.php'><span>Books</span></a></li>
                    </ul>
                </li>

                <li class='active'><a href='about_us.html'><span>About Us</span></a></li>
                <li class="active"><a href="contact.html"><span>Contact Information</span></a> </li>
                <li class='active last'><a href='customer_feedback.php'><span>Customer Feedback</span></a></li>

            </ul>
        </nav>
        <!-- ------------------------------------ MAIN NAVIGATION END ------------------------------------------------>

    </header>

    <!-- BEGIN CENTER CONTENT OF PAGE -------------------------------------->

    <section id="sign_up">

        <p><img src="../css/images/contentimages/email.png" alt=""/> </p>

        <h1> Email </h1>

        <h2> Email Sign-up</h2>

            <form name="email_form" id="email_form" method="post">
                <input type="text" name="name" placeholder="Your First and Last Name"/>
                <input type="email" name="email" placeholder="E-mail Address"/>
                <input type="text" name="confirm_email" placeholder="Confirm E-mail Address"/>
                <p>Press Submit to Sign-up for the monthly Newsletter</p>
                <button type="submit" value="Submit" class="button">Submit</button>
            </form>

        <script type="text/javascript" src="../javascripts/validate.js"></script>


    </section>


    <section id="bottom_nav">
        <div id="subfooter">
            <ul>
                <li><a href="../views/whats_new.php">What's New</a> </li>
                <li><a href="../views/customer_feedback.php">Customer Feedback</a> </li>
                <li><a href="../views/about_us.html">About Us</a> </li>
                <li>Customer Service: 1-800-123-4567 </li>
                <li>Orders: 1-800-456-7890</li>
                <li>Email:<a href="mailto:emeraldheartlc@gmail.com"> EmeraldHeartLC@gmail.com</a> </li>
            </ul>
        </div>
    </section>

    <footer>
        <p>All Rights</p>
        <p>&copy; April 2014</p>
        <p>Website Maintained by <a href="mailto:whymsicaldesigns@gmail.com">Whymsical Designs</a></p>
    </footer>

</body>
</html>