<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Emerald Heart Lighthouse Collection</title>

    <!--Included Third Party Library and Javascript and CSS-->
    <!--<script type="text/javascript" src="js/angular.min.js"></script>-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-responsive.min.css">

    <!-- Included Application specific CSS and Javascript -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">

</head>

<body>
    <header>

        <h1><a href="../index.html"><img src="../css/images/contentimages/logo.png" alt=""></a></h1>
        <form>

            <ul>
                <li><a href="email_signup_page.html">Email Sign-up</a></li>
                <li> <a href="">Customer Care</a></li>
            </ul>
        </form>
        <!-- MAIN NAVIGATION START -->
        <nav>
            <ul>

                <li class='active'><a href='whats_new.php'><span>What's New</span></a></li>
                <li class='active has-sub'><a href='current_products.php'><span>Current Products</span></a>
                    <ul>
                        <li><a href='current_products.php'><span>Home Decor</span></a></li>
                        <li class='last'><a href='current_products.php'><span>Books</span></a></li>
                    </ul>
                </li>

                <li class='active'><a href='about_us.html'><span>About Us</span></a></li>
                <li class="active"><a href="about_us.html"><span>Contact Information</span></a> </li>
                <li class='active last'><a href='customer_feedback.php'><span>Customer Feedback</span></a></li>

            </ul>
        </nav>
        <!-- MAIN NAVIGATION END -->


        <div id="shoppingcart">
            <p><img src="../css/images/icons/empty-cart.png" alt="cart"><a href="shopping_cart.html">Shopping Cart</a> 0 Items | Total $0.00</p>
        </div>

    </header>

    <section>


    </section>


    <section id="bottom_nav">
        <div id="subfooter">
            <ul>
                <li><a href="../views/whats_new.php">What's New</a> </li>
                <li><a href="../views/customer_feedback.php">Customer Feedback</a> </li>
                <li><a href="../views/about_us.html">About Us</a> </li>
                <li>Customer Service: 1-800-123-4567 </li>
                <li>Orders: 1-800-456-7890</li>
                <li>Email:<a href="mailto:emeraldheartlc@gmail.com"> EmeraldHeartLC@gmail.com</a> </li>
            </ul>
        </div>
    </section>

    <footer>
        <p>All Rights</p>
        <p>&copy; April 2014</p>
        <p>Website Maintained by <a href="mailto:whymsicaldesigns@gmail.com">Whymsical Designs</a></p>
    </footer>

</body>
</html>